<!-- legislature_menu -->
<div class="legislature_menu">
  <h3><%= I18n.t("legislaturas") %></h3>
  <ul>
    <li class="active"><%= link_to I18n.t("parties._menu.2009actualidad"), party_path(@party) %></li>
  </ul> 
</div>
<!-- /legislature_menu -->
