  <!-- legislature_menu -->
  <div class="legislature_menu">
    <h3>Legislaturas</h3>
    <ul>
      <li class="active"><%= link_to "2009-Actualidad", party_path(@party) %></li>
    </ul> 
  </div>
  <!-- /legislature_menu -->
