<% if !@commisions.blank? %>
  <!-- current_commissions -->
  <div class="current_commissions">
    <h2><%= I18n.t("comisiones_actuales") %></h2>
    <ul>
      <%  @commisions.each do |c| %>
        <li <%= "class='active'" if c == @commision %>><%= link_to c.name, commision_path(c) %></li>
      <% end %>
    </ul>
  </div>
  <!-- /current_commissions -->
<% end %>