

<h1>Actividad</h1>
<p class="claim">Qué ocurre en el Parlamento Vasco</p>

<!-- tab_system -->
<div class="tab_system tab_system_subjects">

  <%= render :partial => 'activity/activity_menu' %>

  <!-- tab_cont -->
  <div class="tab_cont">
    <% if !@commisions.blank? %>
      <% for c in @commisions %>
        <li><%= link_to c.name, commision_path(c) %></li>
      <% end %>
    <% end %>
    
  </div>
  <!-- /tab_cont -->
</div>
<!-- /tab_system -->
