
<h2>Asuntos</h2>

<% if !@initiatives.blank? %>  
  <ul>
    <% for ini in @initiatives %>
      <li><%= link_to ini.num_exp, initiative_path(ini) %> | <%= ini.title %></li>
    <% end %>
  </ul>
<% end %>



<div class="content">
  <!-- inside -->
  <div class="inside">
    <h1>Actividad</h1>
    <p class="claim">Qué ocurre en el Parlamento Vasco</p>
    
    <!-- tab_system -->
    <div class="tab_system tab_system_subjects">

      <%= render :partial => 'activity/activity_menu' %>

      <!-- tab_cont -->
      <div class="tab_cont">
        
        <!-- subject_cat -->
        <div class="subject_cat">
          <h2>Categorías</h2>
          <ul>
            <li class="active"><a href="#">Administración pública</a></li>
            <li><a href="#">Sector primario</a></li>
            <li><a href="#">Políticas sociales</a></li>
            <li><a href="#">Cultura y Deporte</a></li>
            <li><a href="#">Derechos humanos</a></li>
            <li><a href="#">Economía</a></li>
            <li><a href="#">Educación</a></li>
            <li><a href="#">Industria y comercio</a></li>
            <li><a href="#">Instituciones y autogobierno</a></li>
            <li><a href="#">Justicia e interior</a></li>
            <li><a href="#">Medio ambiente</a></li>
            <li><a href="#">Medios de comunicación</a></li>
            <li><a href="#">Ordenación del territorio</a></li>
            <li><a href="#">Relaciones exteriores</a></li>
            <li><a href="#">Sanidad</a></li>
            <li><a href="#">Trabajo</a></li>
            <li><a href="#">Transporte</a></li>
            <li><a href="#">Turismo y consumo</a></li>
            <li><a href="#">Unión Europea</a></li>
            <li><a href="#">Vivienda</a></li>
          </ul>
        </div>
        <!-- /subject_cat -->
        
        <!-- subject_cont -->
        <div class="subject_cont">
          
          <!-- subject_latest -->
          <div class="subject_latest">
            <h2>Últimos asuntos tratados</h2>
            
            <!-- subjects -->
            <div class="activities subjects">

              <!-- subject -->
              <div class="activity subject">
                <h3 class="title"><a href="#">Escuela pública San Martin Agirre de Bergara</a></h3>
                <dl class="activity_meta line">
                  <dt>Fecha:</dt>
                  <dd>14.07.2009</dd>
                  <dt>Por:</dt>
                  <dd><a class="author" href="#">Maeztu Perez, Daniel</a> de <a class="party_name" href="#">Aralar</a></dd>
                  <dt>Para:</dt>
                  <dd>Consejero de Sanidad y Consumo</dd>
                </dl>
              </div>
              <!-- /subject -->

              <!-- subject -->
              <div class="activity subject">
                <h3 class="title"><a href="#">Escuela pública San Martin Agirre de Bergara</a></h3>
                <dl class="activity_meta line">
                  <dt>Fecha:</dt>
                  <dd>14.07.2009</dd>
                  <dt>Por:</dt>
                  <dd><a class="author" href="#">Maeztu Perez, Daniel</a> de <a class="party_name" href="#">Aralar</a></dd>
                  <dt>Para:</dt>
                  <dd>Consejero de Sanidad y Consumo</dd>
                </dl>
              </div>
              <!-- /subject -->

              <!-- subject -->
              <div class="activity subject">
                <h3 class="title"><a href="#">Escuela pública San Martin Agirre de Bergara</a></h3>
                <dl class="activity_meta line">
                  <dt>Fecha:</dt>
                  <dd>14.07.2009</dd>
                  <dt>Por:</dt>
                  <dd><a class="author" href="#">Maeztu Perez, Daniel</a> de <a class="party_name" href="#">Aralar</a></dd>
                  <dt>Para:</dt>
                  <dd>Consejero de Sanidad y Consumo</dd>
                </dl>
              </div>
              <!-- /subject -->

            </div>
            <!-- /subjects -->
            
          </div>
          <!-- /subject_latest -->
          
          
          <!-- activity_stats -->
          <div class="activity_stats">
            
            <!-- activity_stats_col -->
            <div class="activity_stats_col activity_stats_col_left">
              <!-- most_active_cats -->
              <div class="activity_stat most_active_cats">
                <h2>Categorías más activas</h2>
                <ul>
                  <li><a href="#">Instituciones y autogobierno</a> <span class="subject_num">146 asuntos</span></li>
                  <li><a href="#">Administración pública</a> <span class="subject_num">131 asuntos</span></li>
                  <li><a href="#">Políticas sociales</a> <span class="subject_num">58 asuntos</span></li>
                  <li><a href="#">Justicia e interior</a> <span class="subject_num">57 asuntos</span></li>
                  <li><a href="#">Economía</a> <span class="subject_num">34 asuntos</span></li>
                </ul>
              </div>
              <!-- /most_active_cats -->
            
              <!-- most_active_parties -->
              <div class="activity_stat most_active_parties">
                <h2>Partidos más activos</h2>
                <ul>
                  <li><a class="party_name" href="#">EAJ-PNV</a> <span class="subject_num">146 asuntos</span></li>
                  <li><a class="party_name" href="#">Aralar</a> <span class="subject_num">131 asuntos</span></li>
                  <li><a class="party_name" href="#">PSE</a> <span class="subject_num">58 asuntos</span></li>
                </ul>
              </div>
              <!-- /most_active_parties -->
            </div>
            <!-- /activity_stats_col -->
            
            <!-- activity_stats_col -->
            <div class="activity_stats_col activity_stats_col_right">
              <!-- most_recent_tags -->
              <div class="activity_stat most_recent_tags">
                <h2>Etiquetas más actuales</h2>
                <ul>
                  <li><a class="tag" href="#">Bergara</a> <span class="subject_num">146 asuntos</span></li>
                  <li><a class="tag" href="#">policía autónoma</a> <span class="subject_num">131 asuntos</span></li>
                  <li><a class="tag" href="#">centros de enseñanza</a> <span class="subject_num">58 asuntos</span></li>
                  <li><a class="tag" href="#">departamento GV</a> <span class="subject_num">57 asuntos</span></li>
                  <li><a class="tag" href="#">programa de gobierno</a> <span class="subject_num">34 asuntos</span></li>
                </ul>
              </div>
              <!-- /most_recent_tags -->
            
              <!-- most_active_parliamentarians -->
              <div class="activity_stat most_active_parliamentarians">
                <h2>Parlamentarios más activos</h2>
                <!-- parliamentarians_list -->
                <div class="parliamentarians_list">
                
                  <!-- parliamentarian -->
                  <div class="parliamentarian">
                    <p class="photo"><a href="#"><img src="http://parlamento.euskadi.net/img/fichas/149.jpg" alt="Foto de [parliamentarian_name]" width="48" /></a></p>
                    <div class="main">
                      <h2 class="name"><a href="#">Aintzane Ezenarro</a></h2>
                      <p class="party"><a class="party_name" href="#">Aralar</a></p>
                      <p class="subject_num">23 iniciativas</p>
                    </div>
                  </div>
                  <!-- parliamentarian -->
                
                  <!-- parliamentarian -->
                  <div class="parliamentarian">
                    <p class="photo"><a href="#"><img src="http://parlamento.euskadi.net/img/fichas/149.jpg" alt="Foto de [parliamentarian_name]" width="48" /></a></p>
                    <div class="main">
                      <h2 class="name"><a href="#">Patxi López</a></h2>
                      <p class="party"><a class="party_name" href="#">Aralar</a></p>
                      <p class="subject_num">23 iniciativas</p>
                    </div>
                  </div>
                  <!-- parliamentarian -->
                
                </div>
                <!-- /parliamentarians_list -->
              </div>
              <!-- /most_active_parliamentarians -->
            </div>
            <!-- /activity_stats_col -->
          </div>
          <!-- /activity_stats -->
          
        </div>
        <!-- /subject_cont -->
        
      </div>
      <!-- /tab_cont -->
    </div>
    <!-- /tab_system -->
    
  </div>
  <!-- /inside -->
</div>
<!-- /content -->