<!-- footer -->
<div id="footer">
  <!-- inside -->
  <div class="inside">
    <p><%= I18n.t("footer.claim") %></p>
		<div class="flux"></div>
  </div>
  <!-- /inside -->
</div>
<!-- /footer -->

<!-- subfooter -->
<div id="subfooter">
  <!-- inside -->
  <div class="inside">
		<p class="credits">
			<span class="credit probono"><a href="http://www.probp.org/">Pro Bono Público</a></span>
			<span class="credit_by">:</span>
			<span class="credit linking"><a href="http://www.linkingpaths.com/">Linking Paths</a></span>
			<span class="credit_plus">+</span>
			<span class="credit lapersonnalite"><a href="http://www.lapersonnalite.com/">La Personnalité</a></span>
		</p>
  </div>
  <!-- /inside -->
</div>
<!-- /subfooter -->

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-10042045-3");
pageTracker._trackPageview();
} catch(err) {}</script>