<div id="footer">
  <!-- inside -->
  <div class="inside">
    <p><strong>Parlio</strong>, creado graciosamente por <a href="http://www.linkingpaths.com/">Linking Paths</a> y <a href="http://www.lapersonnalite.com/">La Personnalité</a> para <a href="http://www.probp.org/">Pro Bono Publico</a>.</p>
  </div>
  <!-- /inside -->
</div>
<!-- /footer -->