        <!-- rss_mod -->
        <a class="rss_mod" href="<%=url%>">
          <strong><%= I18n.t("rss.te_interesa") %></strong>
          <span><%= I18n.t("rss.copy") %></span>
        </a>
        <!-- /rss_mod -->