<h2>Sobre Parlio</h2>

<h3>¿Por qué lo hacemos?</h3>
<p>
  Hay datos, como los contenidos de los asuntos y debates que están en documentos no estructurados, por lo que no podemos hacer nada con ellos. Y queremos facilitar la labor de identiﬁcación y publicación de estos datos para que las instituciones públicas como el Parlamento Vasco sepan qué es lo que es necesario hacer. 
</p>                                                                                                                           

<h3>¿De dónde salen los datos? </h3>
<p>
  Del propio sitio web del Parlamento Vasco, <%= link_to "http://parlamento.euskadi.net", "http://www.parlamento.euskadi.net" %>. Sin embargo, estos datos no son libres ni fácilmente accesibles por parte de terceros, por lo que hemos tenido que utilizar técnicas un tanto <em>sui generis</em> para lograrlos. No hemos podido acceder directamente a la base de datos del Parlamento Vasco porque su acceso no es público. 
</p>



<h4>¿Puedo utilizarlos yo? </h4>

<p>
  Claro, para eso están. De todos modos, dada la técnica empleada, corremos un riesgo. Y ese riesgo es que como modiﬁquen la estructura de su contenido por algún casual, perderíamos el acceso a esos datos. 
</p>
                                                                                                                                     