<ul class="tab_menu">
  <li class="active"><%= link_to "Asuntos", initiatives_path %></li>
  <li><%= link_to "Debates", interventions_path %></li>
  <li><%= link_to "Comisiones", commisions_path %></li>
</ul>   
