<!-- subject_cat -->
<div class="sessions_menu">
  <h2>Sesiones</h2>
         
  <% if !current_sessions_date.blank? %>
    <% current_sessions_date.group_by{|d| d.year}.each do |year, dates|  %>
      <div class="session_menu_year">
        <h3><%= year %></h3>
        <ul>
          <% for session in dates %>
            <li><%= session %></li>
          <% end %>
        </ul>
      </div>  
    <% end %>           
  <% end %>
</div>
<!-- /subject_cat -->