<!-- subject_cat -->
<div class="subject_cat">
  <h2>Categorías</h2>
  <% if !current_topics.blank? %>
    <ul>
      <% for t in current_topics %>
        <li<%= " class='active'" if t == @topic %>><%= link_to t.name, topic_path(t) %></li>
      <% end %>
    </ul>
  <% end %>
</div>
<!-- /subject_cat -->
