<div class="parliamentarians">
  <h2>Parlamentarios</h2>
  <h3>Total: <%= @parliamentarians.size %></h3>
  
  <ul>
    <% @parliamentarians.group_by{|p| p.party}.each do |party, parliamentarians | %>
      <li>
        <%= link_to image_tag(party.logo), party_path(party) %>
        <%= link_to party.acronym, party_path(party) %><br/>
        <%= parliamentarians.size %> parlamentarios
      </li>
    <% end %>
  </ul>
</div>
